<div id="w-node-_1ac6e14c-5d80-b4fb-1311-8131a2fe412d-a2fe412d" class="column feature-column">
          <div class="feature-img-and-graident">
            <div class="feature-image-mask">{%- image images.1d6c34d5.url, images.1d6c34d5.alt, '[]', 'class="feature-image"' -%}</div>
          </div>
          <h4 class="feature-max">{{ texts.385ca345 }}</h4>
          <p class="max-400 no-margin">{{ texts.730ad03b }}</p>
        </div>