<div class="section newsletter-section wf-section">
      <div class="container">
        <div class="newsletter-form w-form">
          <form id="email-form" name="email-form" data-name="email" class="form-content" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
            <h2>{{ texts.2105fd30 }}</h2>
            <p class="big-paragraph max-800">{{ texts.fb22e12 }}</p>
            <div class="form-grid"><input type="text" class="form-field w-input" maxlength="256" name="Full-Name-2" data-name="Full Name 2" placeholder="Full Name" id="Full-Name-2" required=""><input type="email" class="form-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Email" id="email-2" required=""><input type="submit" value="Signup" data-wait="Please wait..." id="w-node-_3a7d5772-7f47-7fed-e944-7964f45e6597-f45e658c" class="button w-button"></div>
          </form>
          <div class="sucess-message w-form-done">
            <div>{{ texts.5a0ea5a1 }}</div>
          </div>
          <div class="w-form-fail">
            <div>{{ texts.-7c112e99 }}</div>
          </div>
        </div>
      </div>{%- image images.-14dbf20e.url, images.-14dbf20e.alt, '[{"max":10000,"size":"100vw"}]', 'class="section-bg-image top-align"' -%}
    </div>